.votes {
  font-family: ratiobold;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.votescount {
  /* margin-left: 1px; */
  font-weight: 500;
  font-size: 1.15rem;
}

.post__title {
  padding-top: 11px;
  font-family: ratiobold​​​​;
}

.post {
  display: flex;
  font-family: ratiobold;
  overflow-wrap: break-word;
  font-size: medium;
}
.post__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* .paper :hover {
  background-color: aliceblue;
} */

.post__status {
  margin-top: 25px;
  text-align: left;
  font-family: ratiomedium;
}

.postcontainer {
  padding-bottom: 15px;
}
.dept {
  background-color: teal;
  border-radius: 15px;
  color: white;
  padding: 0px 5px 0px 5px;
  font-family: ratiobold;
}
/* .postscontainer{
      margin-left: 5px;
  } */
.more {
  display: flex;
  /* flex: 1; */
  min-width: 165px !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.delete__button {
  width: fit-content;
}

.status {
  min-width: 165px !important;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
